* {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  align-content: center;
  text-align: center;
  color: #a1a1a1;
}

html, body {
  height: 100%;
  background: #444;
}

.app {
  width: 960px;
  margin: 0 auto;
}
.app img {
  width: 300px;
  height: 300px;
  /*height:inherit;*/
  border-radius: 30px;
  margin: 5px 5px 5px 5px;
}

.slide {
    left: -100px;
    animation: slide 0.5s forwards;
}
canvas:hover .slide {
  transition: 1s;
  left: 0;
}

@keyframes slide {
    100% { left: 0; }
}

canvas {
  /*border: 1px dotted blue;*/
  height: 600px;
}
